ASPNETCORE_ENVIRONMENT=Development
HTTP_PORT_EXT=5000
HTTP_PORT_INT=8080

# DB
POSTGRES_DB=workshopcode
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT_EXT=55432
POSTGRES_PORT_INT=5432

# App DB user (ограниченный)
APP_DB=workshopcode
APP_USER=wc_app
APP_PASSWORD=wc_app_pwd

# Внутри контейнера используется своя собственная сеть 
# в контейнере свой <ConnectionStrings__Default> (перекрывает appsettings.Development.json)
# см. docker-compose.yml

