{
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=55432;Database=workshopcode;Username=wc_app;Password=wc_app_pwd;"
  },
  "Mongo": {
    "ConnectionString": "mongodb://root:example@localhost:7017/?authSource=admin",
    "SupportChatDatabase": "supportchat",
    "ExerciseChatDatabase": "exercisechat"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Warning",
      "SeedingTimeDbContext": "Information",
      "SeedingMainDbContext": "Information"
    }
  },
  "_comment": "Jwt:Key должен быть длиной не менее 32 символов (256 бит) и состоять только из ASCII-символов: A–Z, a–z, 0–9, -, _, =. Лучше использовать Base64-строку.",
  "Jwt": {
    "Key": "DXaA1_usIbb-9txBxhqG36Hua0zXa2UWuXwafsFCfiA="
  }
}
